<html>

<body>
Hi
<br/>
Did you request to create a new account in the Researcher Dashboard? 
<br/>
If you did NOT request the account, then someone entered your email address (<%= data.email %>) and requested to create the account.
<br/>
In any case, we created a new account with the user name <b><%= data.user_name %></b>. You can login by creating your password <a href="<%= data.url %>">here</a>, or by pasting this url into the address bar of your browser:
<a href="<%= data.url %>"><%= data.url %></a>.
<br/>
If you have any questions, please email the Researcher Dashboard Admin at <a href="mailto:andydzik@gmail.com">andydzik@gmail.com</a>.
<br/>
Thanks,
The Researcher Dashboard Automatic Activation Service";

</body>
</html>
